LINODE_PANEL_HOST=127.0.0.1
LINODE_PANEL_PORT=8088
LINODE_PANEL_DB_HOST=127.0.0.1
LINODE_PANEL_DB_PORT=3306
LINODE_PANEL_DB_NAME=linode_panel
LINODE_PANEL_DB_USER=linode_panel
LINODE_PANEL_DB_PASSWORD=change-this-password
